* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    font-family: 'poppins', sans-serif;
    background: linear-gradient(135deg, #f7f7fc, #76767a);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background: rgba(16, 26, 73, 0.836);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 10;
    
}

header h1{
    font-size: 2.4rem;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-top: 10px;
}

nav ul li a{
    color: #e0e4e9;
    text-decoration: none;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.3 ease;   
}

nav ul li a:hover {
    background-color: #777780;
    color: #ffffff;

}

.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;

}

.card{
    padding: 20px;
    border-radius: 15px;
    background: #4c4c53;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
    max-width: 300px;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.progress-bar{
    width: 100%;
    background: #444;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 10px;
}

.progress{
    height: 100%;
    background: #0fe016;
    border-radius: 10px;
}

.modal-btn {
    background-color: #2b2b7e;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;

}

.modal-btn:hover {
    background-color: #4e4e81;
}





/* Modal Styling  */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    background-color: #333;
    margin: 15% auto;
    padding: 30px;
    border-radius: 10px;
    width: 50;
    color: #f7f7fc;
}

.close-btn{
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus{
    color: #000;
    text-decoration: none;
}

footer{
    background-color: rgba(30, 30, 47, 95);
    color: #c9c9ff;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    margin-top: auto;
}